/* typography system
Spacing system (px)
2/4/8/12/16/24/32/48/64/80/96/128

font weights::after
- primary: #1c7ed6


- greys: #e9ecef



font size system
10/12/14/16/18/20/24/30/36/44/52/62/74/86/98
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #343a40;
  font-size: 2.4rem;
  height: 100vh;
  display: grid;
  grid-template-columns: 20rem 1fr 20rem;
  grid-template-rows: 8rem 1fr;
}
nav,
menu,
section,
main,
.container,
.lower-container {
  padding-top: 2.4rem;
}
nav {
  background-color: #1c7ed6;
  grid-column: 1/-1;
  color: white;
  text-align: center;
  position: relative;
}
.grid-4-rows {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.grid-3-rows {
  grid-template-columns: 1fr 1fr;
}
.grid-2-rows {
  grid-template-columns: 1fr 1fr;
}
.hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.container,
.lower-container {
  width: 100%;
  display: grid;
  height: 80vh;
  justify-items: center;
  gap: 6rem;
  overflow: auto;
  padding-bottom: 2.4rem;
}
